@import "tailwindcss";
@plugin 'neo-metro-city';

html {
  scroll-behavior: smooth;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 400 500 600 700;
  font-style: normal;
}
