@import "tailwindcss";
@plugin 'neo-metro-city';

html {
  scroll-behavior: smooth;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 400 500 600 700;
  font-style: normal;
}

.neon-stroke {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--neon-blue);
  text-shadow: 0 0 2em var(--neon-blue), 0 0 1em var(--neon-blue);
}
.neon-stroke span {
  position: absolute;
  top: 4%;
  left: 8%;
  opacity: 0.3;
}
