.btn {
  filter: inherit;
  color: var(--neon-blue);
  text-shadow:
    0 0 0.1em currentColor,
    0 0 0.5em currentColor;
  font-weight: 600;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 0.5rem;
  user-select: none;
  transition:
    filter 0.1s ease-in-out,
    scale 0.3s ease-in-out;
}

.btn.btn-outline {
  border: 2px solid currentColor;
  box-shadow:
    0 0 2px currentColor,
    0 0 8px currentColor,
    inset 0 0 2px currentColor,
    inset 0 0 8px currentColor;
}
.btn.btn-orange {
  color: var(--neon-orange);
}
.btn.btn-pink {
  color: var(--neon-pink);
}
.btn.btn-green {
  color: var(--neon-green);
}
.btn.btn-purple {
  color: var(--neon-purple);
}
.btn.btn-yellow {
  color: var(--neon-yellow);
}

.btn:hover {
  filter: brightness(1.1);
}

.btn:active {
  filter: brightness(0.6);
}
