.dropdown {
  position: relative;
  display: inline-block;
  animation: neon-glow-soft 15s infinite alternate;
}

.dropdown input {
  display: none;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  z-index: 999;
  border-radius: 0.5rem;
  background: var(--cyber-dark);
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  filter: brightness(0.5);
  pointer-events: none;
  left: 0.25rem;
  right: auto;
  transform-origin: top left;
}

.dropdown-start {
  left: 0.25rem;
  right: auto;
  transform-origin: top left;
}

.dropdown-center {
  left: 50%;
  right: auto;
  transform-origin: top center;
}

.dropdown-end {
  right: 0.25rem;
  left: auto;
  transform-origin: top right;
}

.dropdown label {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.dropdown input:checked + label + .dropdown-content {
  opacity: 1;
  filter: brightness(1);
  pointer-events: auto;
  animation: neon-flicker 1s ease-in forwards;
  animation-fill-mode: none;
}

.dropdown-content li {
  list-style: none;
  padding: 1rem;
  text-shadow: none;
  filter: brightness(0.5);
  transition: filter 0.7s ease;
  cursor: pointer;
}

.dropdown-content li:hover {
  color: var(--neon-orange);
  filter: brightness(1);
}

.dropdown-content a {
  text-decoration: none;
  color: inherit;
}
