/* @author potatoman-dev */
.progress {
  display: block;
  position: relative;
  padding: 4px;
  height: 14px;
  -moz-appearance: none;
  border-radius: 3em;
  border: 1px solid var(--neon-blue);
  box-shadow:
    0 0 2px var(--neon-blue),
    0 0 8px var(--neon-blue),
    inset 0 0 2px var(--neon-blue),
    inset 0 0 8px var(--neon-blue);
}

.progress::-webkit-progress-bar {
  /* プログレスバーの背景/-webkit- 用 */
  background-color: var(--neon-orange);
  display: block;
  position: relative;
  background-color: transparent;
  border-radius: 3em;
  border: 2px solid transparent;
}

.progress::-webkit-progress-value {
  /* プログレスバーの進捗部分/-webkit- 用 */
  background-color: var(--neon-orange);
  filter: brightness(1);
  border-radius: 3em;
  box-shadow:
    0 0 2px var(--neon-orange),
    0 0 8px var(--neon-orange),
    inset 0 0 2px var(--neon-orange),
    inset 0 0 8px var(--neon-orange);
}

.progress::-moz-progress-bar {
  /* プログレスバーの進捗部分/-moz- 用 */
  background-color: var(--neon-orange);
  filter: brightness(1);
  border-radius: 3em;
  box-shadow:
    0 0 2px var(--neon-orange),
    0 0 8px var(--neon-orange),
    inset 0 0 2px var(--neon-orange),
    inset 0 0 8px var(--neon-orange);
}
