.neon-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--neon-blue);
  filter: brightness(0.5);
  border-radius: 50%;
  transition: all 0.2s ease-out;
  display: inline;
  cursor: pointer;
  margin: 0;
}

.neon-radio:hover {
  filter: brightness(1);
  box-shadow:
    0 0 2px var(--neon-blue),
    0 0 8px var(--neon-blue),
    inset 0 0 2px var(--neon-blue),
    inset 0 0 8px var(--neon-blue);
}

.neon-radio::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: var(--neon-orange); /* ネオングリーン */
  box-shadow:
    0 0 2px var(--neon-orange),
    0 0 8px var(--neon-orange),
    inset 0 0 2px var(--neon-orange),
    inset 0 0 8px var(--neon-orange);
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.neon-radio:checked {
  border-color: var(--neon-orange);
  filter: brightness(1);
  box-shadow:
    0 0 2px var(--neon-orange),
    0 0 8px var(--neon-orange),
    inset 0 0 2px var(--neon-orange),
    inset 0 0 8px var(--neon-orange);
}

.neon-radio:checked::before {
  opacity: 1;
}
