.select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23eb9f5d' stroke-width='2.5'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  --neon-border-color: var(--neon-blue);
  border: 2px solid var(--neon-border-color);
  box-shadow:
    0 0 2px var(--neon-border-color),
    0 0 8px var(--neon-border-color),
    inset 0 0 2px var(--neon-border-color),
    inset 0 0 8px var(--neon-border-color);
  transition:
    border 0.3s,
    box-shadow 0.3s,
    filter 0.3s;
}

.select:focus {
  --neon-border-color: var(--neon-orange);
  outline: none;
}

.select option {
  background-color: var(--cyber-black);
}
