.tabs {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ラジオボタン自体は非表示 */
.tabs input[type="radio"] {
  display: none;
  appearance: none;
}

.tab {
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  color: var(--neon-blue);
  filter: brightness(0.5);
  text-shadow: none;
  transition:
    text-shadow 0.3s ease,
    filter 0.3s ease;
  border: none;
  background: none;
  font-size: 1rem;
  user-select: none;
}

/* ラジオがチェックされているラベルに対してスタイル適用 */
.tabs input[type="radio"]:checked + label.tab {
  filter: brightness(1);
  font-weight: bold;
  text-shadow:
    0 0 0.1em currentColor,
    0 0 0.5em currentColor;
}

/* 下線のエフェクト */
.tabs input[type="radio"]:checked + label.tab::after {
  content: "";
  color: var(--neon-orange);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 2px;
  background-color: currentColor;
  pointer-events: none;
  border-radius: 1px;
  box-shadow:
    0 0 4px currentColor,
    0 0 6px currentColor,
    0 0 8px currentColor,
    0 0 10px currentColor;
}
