.textarea {
  cursor: text;
  border: 2px solid var(--neon-blue);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background: none;
  resize: vertical;
  min-height: 6rem;
  font-family: inherit;
  color: inherit;
  box-shadow:
    0 0 2px var(--neon-blue),
    0 0 8px var(--neon-blue),
    inset 0 0 2px var(--neon-blue),
    inset 0 0 8px var(--neon-blue);
  transition:
    box-shadow 0.5s ease-in-out,
    filter 0.5s ease-in-out;
}

.textarea:not(:focus) {
  border-width: 1px;
  box-shadow: none;
  filter: brightness(0.5);
}

.textarea:not(:placeholder-shown) {
  filter: brightness(1);
  box-shadow:
    0 0 2px var(--neon-blue),
    0 0 8px var(--neon-blue),
    inset 0 0 2px var(--neon-blue),
    inset 0 0 8px var(--neon-blue);
}

.textarea:focus {
  outline: none;
  border: 2px solid var(--neon-orange);
  box-shadow:
    0 0 2px var(--neon-orange),
    0 0 8px var(--neon-orange),
    inset 0 0 2px var(--neon-orange),
    inset 0 0 8px var(--neon-orange);
}

.textarea::placeholder {
  text-shadow: none;
}
