:root {
  --cyber-black: #0a0a12;
  --cyber-dark: #0e0e20;

  --neon-blue: #d2ecfa;
  --neon-orange: #eb9f5d;
  --neon-red: #e6003c;
  --neon-pink: #ff1e73;
  --neon-purple: #8b4fff;
  --neon-green: #00ffc2;
  --neon-yellow: #fff95b;

  --color-primary: var(--neon-blue);
  --color-accent: var(--neon-blue);
}

html,
body {
  background-color: var(--cyber-black);
}

html:has(.drawer-toggle:checked) {
  overflow: hidden;
}

* {
  --neon-text-color: var(--neon-blue);
  --neon-border-color: var(--neon-blue);
  color: var(--neon-text-color);
  text-shadow:
    0 0 0.1em currentColor,
    0 0 0.5em currentColor;
}
