.bg-cyber-black {
  background-color: var(--cyber-black);
}
.bg-cyber-dark {
  background-color: var(--cyber-dark);
}

/* 消灯, 点滅*/
.turnoff,
.turnoff * {
  filter: brightness(0.5);
  text-shadow: none;
  box-shadow: none;
  animation: none;
}

.turnon {
  filter: brightness(1);
  text-shadow: inherit;
}
.turnon {
  text-shadow:
    0 0 0.1em currentColor,
    0 0 0.5em currentColor;
  filter: brightness(1);
}

.blink {
  animation: neon-blink 3s infinite alternate;
}
.neon-glow-soft {
  animation: neon-glow-soft 15s infinite alternate;
}
.neon-fade {
  animation: neon-fade 3s infinite ease-in-out alternate;
}

.effect-neon-flicker {
  animation: neon-flicker 1s ease-in forwards;
  animation-fill-mode: none;
}

.animate-neon-flicker {
  animation: neon-flicker 3s infinite;
}

.neon-letter {
  display: inline-block;
  color: inherit;
  animation: neon-brightness 15s infinite;
  animation-timing-function: ease-in-out;
}

/* Text Neon */
.text-neon-none,
.text-neon-none * {
  text-shadow: none !important;
}

.text-neon-blue {
  --neon-text-color: var(--neon-blue);
}
.text-neon-orange {
  --neon-text-color: var(--neon-orange);
}
.text-neon-red {
  --neon-text-color: var(--neon-red);
}
.text-neon-pink {
  --neon-text-color: var(--neon-pink);
}
.text-neon-purple {
  --neon-text-color: var(--neon-purple);
}
.text-neon-green {
  --neon-text-color: var(--neon-green);
}
.text-neon-yellow {
  --neon-text-color: var(--neon-yellow);
}

/* Box-Border Neon */
.border-neon {
  --neon-border-color: var(--neon-blue);
  border: 2px solid var(--neon-border-color);
  box-shadow:
    0 0 2px var(--neon-border-color),
    0 0 8px var(--neon-border-color),
    inset 0 0 2px var(--neon-border-color),
    inset 0 0 8px var(--neon-border-color);
}

.border-neon-blue {
  --neon-border-color: var(--neon-blue);
}
.border-neon-orange {
  --neon-border-color: var(--neon-orange);
}
.border-neon-red {
  --neon-border-color: var(--neon-red);
}
.border-neon-green {
  --neon-border-color: var(--neon-green);
}
.border-neon-pink {
  --neon-border-color: var(--neon-pink);
}
.border-neon-purple {
  --neon-border-color: var(--neon-purple);
}
.border-neon-yellow {
  --neon-border-color: var(--neon-yellow);
}

.border-neon-t,
.border-neon-r,
.border-neon-b,
.border-neon-l {
  position: relative;
}

.border-neon-t::before,
.border-neon-r::before,
.border-neon-b::after,
.border-neon-l::after {
  pointer-events: none;
  content: "";
  position: absolute;
  border-radius: 2px;
  border: 1px solid var(--neon-border-color);
  box-shadow:
    0 0 2px var(--neon-border-color),
    0 0 4px var(--neon-border-color),
    0 0 6px var(--neon-border-color),
    0 0 8px var(--neon-border-color),
    inset 0 0 2px var(--neon-border-color),
    inset 0 0 4px var(--neon-border-color),
    inset 0 0 6px var(--neon-border-color),
    inset 0 0 8px var(--neon-border-color);
}

.border-neon-t::before {
  left: 0;
  right: 0;
  top: 2px;
  height: 0px;
}
.border-neon-r::before {
  top: 0;
  bottom: 0;
  right: -2px;
  width: 0px;
}
.border-neon-b::after {
  left: 0;
  right: 0;
  bottom: -2px;
  height: 0px;
}
.border-neon-l::after {
  top: 0;
  bottom: 0;
  left: 2px;
  width: 0px;
}
