.bg-cyber-black {
  background-color: var(--cyber-black);
}
.bg-cyber-dark {
  background-color: var(--cyber-dark);
}

/* 消灯, 点滅*/
.turnoff {
  filter: brightness(0.5);
  text-shadow: none;
  box-shadow: none;
}

.turnon {
  filter: brightness(1);
  text-shadow: inherit;
}

.blink {
  animation: neon-blink 3s infinite alternate;
}
.neon-glow-soft {
  animation: neon-glow-soft 15s infinite alternate;
}
.neon-fade {
  animation: neon-fade 3s infinite ease-in-out alternate;
}

.effect-neon-flicker {
  animation: neon-flicker 1s ease-in forwards;
  animation-fill-mode: none;
}

.animate-neon-flicker {
  animation: neon-flicker 3s infinite;
}

.neon-letter {
  display: inline-block;
  color: inherit;
  animation: neon-brightness 15s infinite;
  animation-timing-function: ease-in-out;
}

/* Text Neon */
.text-neon-none,
.text-neon-none > *,
.text-neon-none > * * {
  text-shadow: none !important;
}

.text-neon-blue {
  color: var(--neon-blue);
  text-shadow: inherit;
}

.text-neon-orange {
  color: var(--neon-orange);
}

.text-neon-pink {
  color: var(--neon-pink);
}

.text-neon-purple {
  color: var(--neon-purple);
}

.text-neon-green {
  color: var(--neon-green);
}

.text-neon-yellow {
  color: var(--neon-yellow);
}

.turnon {
  text-shadow:
    0 0 0.1em currentColor,
    0 0 0.5em currentColor;
  filter: brightness(1);
}

/* Box-Border Neon */
.border-neon-blue {
  border: 2px solid var(--neon-blue);
  box-shadow:
    0 0 2px var(--neon-blue),
    0 0 8px var(--neon-blue),
    inset 0 0 2px var(--neon-blue),
    inset 0 0 8px var(--neon-blue);
}

.border-neon-orange {
  box-sizing: border-box;
  border: 2px solid var(--neon-orange);
  box-shadow:
    0 0 2px var(--neon-orange),
    0 0 8px var(--neon-orange),
    inset 0 0 2px var(--neon-orange),
    inset 0 0 8px var(--neon-orange);
}

/* Neon-Border-* */
.neon-border-t,
.neon-border-b,
.neon-border-r,
.neon-border-r-orange,
.neon-border-b-orange {
  position: relative;
}

/* Top-Border Neon */
.neon-border-t::before {
  content: "";
  position: absolute;
  color: var(--neon-blue);
  left: 0;
  right: 0;
  border: 1px solid currentColor;
  top: 2px;
  height: 0px;
  pointer-events: none;
  border-radius: 2px;
  box-shadow:
    0 0 2px currentColor,
    0 0 4px currentColor,
    0 0 6px currentColor,
    0 0 8px currentColor,
    inset 0 0 2px currentColor,
    inset 0 0 4px currentColor,
    inset 0 0 6px currentColor,
    inset 0 0 8px currentColor;
}

/* Right-Border Neon */
.neon-border-r::after {
  content: "";
  position: absolute;
  color: var(--neon-blue);
  top: 0;
  bottom: 0;
  right: -2px;
  width: 0px;
  pointer-events: none;
  border: 1px solid currentColor;
  border-radius: 2px;
  box-shadow:
    0 0 2px currentColor,
    0 0 4px currentColor,
    0 0 6px currentColor,
    0 0 8px currentColor,
    inset 0 0 2px currentColor,
    inset 0 0 4px currentColor,
    inset 0 0 6px currentColor,
    inset 0 0 8px currentColor;
}

.neon-border-r-orange::after {
  content: "";
  position: absolute;
  color: var(--neon-orange);
  top: 0;
  bottom: 0;
  right: -2px;
  width: 0px;
  pointer-events: none;
  border: 1px solid currentColor;
  border-radius: 2px;
  box-shadow:
    0 0 2px currentColor,
    0 0 4px currentColor,
    0 0 6px currentColor,
    0 0 8px currentColor,
    inset 0 0 2px currentColor,
    inset 0 0 4px currentColor,
    inset 0 0 6px currentColor,
    inset 0 0 8px currentColor;
}
/* Bottom-Border Neon */
.neon-border-b::after {
  content: "";
  position: absolute;
  color: var(--neon-blue);
  left: 0;
  right: 0;
  border: 1px solid currentColor;
  bottom: -2px;
  height: 0px;
  pointer-events: none;
  border-radius: 2px;
  box-shadow:
    0 0 2px currentColor,
    0 0 4px currentColor,
    0 0 6px currentColor,
    0 0 8px currentColor,
    inset 0 0 2px currentColor,
    inset 0 0 4px currentColor,
    inset 0 0 6px currentColor,
    inset 0 0 8px currentColor;
}

.neon-border-b-orange::after {
  content: "";
  position: absolute;
  color: var(--neon-orange);
  left: 0;
  right: 0;
  border: 1px solid currentColor;
  bottom: -2px;
  height: 0px;
  pointer-events: none;
  border-radius: 2px;
  box-shadow:
    0 0 2px currentColor,
    0 0 4px currentColor,
    0 0 6px currentColor,
    0 0 8px currentColor,
    inset 0 0 2px currentColor,
    inset 0 0 4px currentColor,
    inset 0 0 6px currentColor,
    inset 0 0 8px currentColor;
}

.border-r-neon-blue {
  position: relative;
}
.border-r-neon-blue::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid var(--neon-blue);
  right: -2px;
  width: 0px;
  pointer-events: none;
  border-radius: 2px;
  box-shadow:
    0 0 2px var(--neon-blue),
    0 0 4px var(--neon-blue),
    0 0 6px var(--neon-blue),
    0 0 8px var(--neon-blue),
    inset 0 0 2px var(--neon-blue),
    inset 0 0 4px var(--neon-blue),
    inset 0 0 6px var(--neon-blue),
    inset 0 0 8px var(--neon-blue);
}
